<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/saopaulobitdevs/saopaulobitdevs.org" target="_blank" rel="noopener nofollow">Contribua pelo Github</a>
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">RSS Feed</a>
    </div>
  </div>
</footer>
